.topFloat_r{position: fixed; top: 0px; height: 100%; right: -400px;z-index: 100;}
.notice{ width: 400px; height: 100%;  position: relative; background-color: rgba(111,119,134,1); 
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);}
.notice >a.close{position: absolute; top: 0; right: 0;z-index: 1;width: 25px; height: 25px; color: #fff; text-align: center; line-height: 25px; font-size: 20px;box-sizing: initial;}
.notice >a.close:hover{text-decoration: none;}
.notice .fotmore{text-align: center;color: #fff; display: block; line-height: 30px;}
.notice .fotmore:hover{background-color:rgba(0,0,0,.1);}
.rightIn{-webkit-animation: rightIn 0.6s both;animation: rightIn 0.6s both;}
@-webkit-keyframes rightIn {
    0% {opacity: 0;transform: translateX(0px);-webkit-transform: translateX(0px);}
    90% {opacity: 1;transform: translateX(-410px);-webkit-transform: translateX(-410px);}
    100% {opacity: 1;transform: translateX(-400px);-webkit-transform: translateX(-400px);}
}
@keyframes rightIn {
    0% {opacity: 0;transform: translateX(0px);-webkit-transform: translateX(0px);}
    90% {opacity: 1;transform: translateX(-410px);-webkit-transform: translateX(-410px);}
    100% {opacity: 1;transform: translateX(-400px);-webkit-transform: translateX(-400px);}

}

.rightOut{-webkit-animation: rightOut 0.6s both;animation: rightOut 0.6s both;}
@-webkit-keyframes rightOut {
    0% {opacity: 1;transform: translateX(-400px);-webkit-transform: translateX(-400px);}
    30% {opacity: 1;transform: translateX(-410px);-webkit-transform: translateX(-410px);}
    100% {opacity: 0;transform: translateX(0px);-webkit-transform: translateX(0px);}
}
@keyframes rightOut {
    0% {opacity: 1;transform: translateX(-400px);-webkit-transform: translateX(-400px);}
    30% {opacity: 1;transform: translateX(-410px);-webkit-transform: translateX(-410px);}
    100% {opacity: 0;transform: translateX(0px);-webkit-transform: translateX(0px);}
}


#notice .ui-state-default,#notice  .ui-widget-content .ui-state-default,#notice  .ui-widget-header .ui-state-default {border: none;background: none;font-weight: bold;color: #1c94c4;}
#notice .ui-state-default .ui-icon {
    background-image: url(../images/ui-icons_ef8c08_256x240.png);
}
#notice .ui-state-active .ui-icon {
    background-image: url(../images/ui-icons_ef8c08_256x240.png);
}
#notice .ui-state-active,#notice .ui-widget-content .ui-state-active,#notice .ui-widget-header .ui-state-active { border: none; background: none; font-weight:  normal; color: #eb8f00;}
#notice .ui-widget-content { border: none; color: #333333;}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#notice .ui-state-default,#notice .ui-widget-content .ui-state-default,#notice .ui-widget-header .ui-state-default {border: none; background: none; font-weight: normal; color: #fff;}

#notice .urgent.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons,#notice .urgent.ui-accordion-header.ui-helper-reset.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active.ui-corner-top { color: #ff8500;}

#notice .ui-accordion .ui-accordion-content {
    padding: 1em 1em;
    border-top: 0;
    line-height: 20px;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #7C7C7C;
    overflow: auto;
    border-bottom: dashed 1px #AAAAAA;
    zoom: 1;
}

.ui-accordion .ui-accordion-content p.time{ margin-top: 10px;}

#notice .ui-state-active,#notice .ui-widget-content .ui-state-active,#notice .ui-widget-header .ui-state-active {
    border: none;
    background: none;
    font-weight: normal;
    color: #fff;

}
.ui-accordion .ui-accordion-header:hover{background-color: rgba(0,0,0,.1);}

#notice .ui-corner-all,#notice .ui-corner-bottom,#notice .ui-corner-left,#notice .ui-corner-bl {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accordion.ui-accordion.ui-widget.ui-helper-reset{max-height: 90%; overflow: auto;}
.notice .tab_menu{background-color: #505864; border-radius:0; height: 33px;}
.notice .tab_menu li{color: #fff; height: 29px; line-height: 29px; font-size: 12px !important;}
.notice .tab_menu  .current,.notice .tab_menu  .current:hover,.notice .tab_menu li:hover,.notice .tab_menu .li_r:hover{background-color: #e4e4e4; color: #111111;}
.notice .tab_box{font-size: 12px;}
#noticeCon{height: 625px;}
.notice>div{padding:0;color: #fff; font-size: 12px;}
.notice .nTit{ background-color: #505864; padding: 0 10px;}
.notice .nTit h1{font-size: 12px;padding: 10px 0; display: inline-block; margin-bottom: -1px; }
.accordion .slimScrollDiv>ul{ display: block; overflow: hidden;}
.accordion .slimScrollDiv>ul >li.line{border-bottom: dashed 1px rgba(255,255,255,.3);}
.accordion .slimScrollDiv>ul >li .nFoot{padding: 10px; text-align: right; position: relative;}
.accordion .slimScrollDiv>ul >li .nFoot >span{ color: rgba(255,255,255,.7);}
.accordion .slimScrollDiv>ul >li .nFoot >span.tit{color: #FF9B14; margin: 0;}
.nText{padding:10px; background-color: #687182; line-height: 22px;}
.notice .n-btn{background-color: #687182; text-align: right; padding:10px;}
.notice .n-btn a{color: #ffbf85; margin: 0 10px;}
.nText.shengyin-ico{padding-left: 40px; position: relative;}
.nText.shengyin-ico:before{content: ""; background-image: url(../images/shengyin-ico.gif); background-repeat: no-repeat; width: 21px; height: 21px; position: absolute; left: 10px; top: 10px;}
 .nheard{padding: 10px;}
 .nFoot.c-line{text-align: center !important;}
.c-line span{ display: inline-block; z-index: 2; padding: 5px 10px; background-color:#727a88; position: relative;}
.c-line:after{content: ""; position: absolute; z-index: 0; top: 25px; left: 0; display: inline-block; width: 100%; border-bottom: dashed 1px rgba(255,255,255,.7);}
@media only screen and (max-height:880px ) {
	#noticeCon{height: 770px;}
}
@media only screen and (max-height:980px ) {
	#noticeCon{height: 870px;}
}
@media only screen and (max-height:780px ) {
	#noticeCon{height: 660px;}
}
@media only screen and (max-height:720px ) {
	#noticeCon{height: 590px;}
}
@media only screen and (max-height:680px ) {
	#noticeCon{height: 550px;}
}
/*实时消息提醒*/
.message_alert{position: fixed; top: 110px; right: 20px; z-index: 4;}
.message_alert .ma_cont{background-color: #505864; border-radius:3px; color: #fff; width: 480px; }
.message_alert .ma_cont .float_l{width: 80%; position: relative;min-height: 70px;}
.message_alert .ma_cont .float_l:after{content: ""; position: absolute; top: 0; right: 0; width: 1px; height: 100%; background-color: #82878e;}
.message_alert .ma_cont .float_l .nText{background-color: transparent;}
.message_alert .ma_cont .float_l .nText.shengyin-ico:before{ background-image: url(../images/shengyin-ico2.gif); }
.message_alert .ma_cont .float_r{width: 20%;}
.message_alert .ma_cont .float_r a{display: block; position: relative; text-align: center; color: #ffbf85; height: 35px; line-height: 35px;}
.message_alert .ma_cont .float_r a:first-child:after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px;background-color: #82878e;}

